dist: bionic
os: linux
language: php

php:
    - 7.3
    - 7.4
    - nightly

allow_failures:
    - php: nightly

cache:
    directories:
        - $HOME/.composer/cache

before_script:
    - echo "memory_limit=2G" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
    - composer install
    - "cat composer.json| sed -e 's/7.3/7.3 || ^8.0/g' > composer.json.new && mv composer.json.new composer.json -f"

script:
    - vendor/bin/php-cs-fixer fix --dry-run
    - vendor/bin/phpstan analyse lib -c phpstan.neon
    - vendor/bin/phpunit
    - .ci/phpbench-regression-test.sh
    - tests/Smoke/smoke_test.php --limit=100
    
