{
    "storage": "reports",
    "storage.reports.connection": {
        "base_url": "phpbench.dantleech.com"
    },
    "storage.reports.store_iterations": true,
    "extensions": [
        "PhpBench\\Extension\\ReportsExtension"
    ],
    "bootstrap": "vendor/autoload.php",
    "path": "tests/Benchmarks"
}
