parameters:
	ignoreErrors:
		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\PsrLog\\\\ArrayLogger\\:\\:log\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Bridge/PsrLog/ArrayLogger.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\PsrLog\\\\ArrayLogger\\:\\:messages\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Bridge/PsrLog/ArrayLogger.php

		-
			message: "#^Property Phpactor\\\\WorseReflection\\\\Bridge\\\\PsrLog\\\\ArrayLogger\\:\\:\\$messages has no type specified\\.$#"
			count: 1
			path: src/Bridge/PsrLog/ArrayLogger.php

		-
			message: "#^Call to method head\\(\\) on an unknown class Phpactor\\\\Name\\\\Name\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Diagnostics/UnresolvableNameDiagnostic.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Diagnostics\\\\UnresolvableNameDiagnostic\\:\\:name\\(\\) has invalid return type Phpactor\\\\Name\\\\Name\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Diagnostics/UnresolvableNameDiagnostic.php

		-
			message: "#^Parameter \\$name of method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Diagnostics\\\\UnresolvableNameDiagnostic\\:\\:__construct\\(\\) has invalid type Phpactor\\\\Name\\\\Name\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Diagnostics/UnresolvableNameDiagnostic.php

		-
			message: "#^Parameter \\$name of method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Diagnostics\\\\UnresolvableNameDiagnostic\\:\\:forClass\\(\\) has invalid type Phpactor\\\\Name\\\\Name\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Diagnostics/UnresolvableNameDiagnostic.php

		-
			message: "#^Parameter \\$name of method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Diagnostics\\\\UnresolvableNameDiagnostic\\:\\:forFunction\\(\\) has invalid type Phpactor\\\\Name\\\\Name\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Diagnostics/UnresolvableNameDiagnostic.php

		-
			message: "#^Property Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Diagnostics\\\\UnresolvableNameDiagnostic\\:\\:\\$name has unknown class Phpactor\\\\Name\\\\Name as its type\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Diagnostics/UnresolvableNameDiagnostic.php

		-
			message: "#^Call to static method fromString\\(\\) on an unknown class Phpactor\\\\Name\\\\FullyQualifiedName\\.$#"
			count: 2
			path: src/Bridge/TolerantParser/Diagnostics/UnresolvableNameProvider.php

		-
			message: "#^Property Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Diagnostics\\\\UnresolvableNameProvider\\:\\:\\$functionCache \\(array\\<string, bool\\>\\) does not accept array\\<int\\|string, bool\\>\\.$#"
			count: 2
			path: src/Bridge/TolerantParser/Diagnostics/UnresolvableNameProvider.php

		-
			message: "#^Expression on left side of \\?\\? is always null\\.$#"
			count: 2
			path: src/Bridge/TolerantParser/Patch/TolerantQualifiedNameResolver.php

		-
			message: "#^Instanceof between mixed and Microsoft\\\\PhpParser\\\\Node\\\\TraitSelectOrAliasClause will always evaluate to false\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Patch/TolerantQualifiedNameResolver.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Patch\\\\TolerantQualifiedNameResolver\\:\\:getResolvedName\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Patch/TolerantQualifiedNameResolver.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Patch\\\\TolerantQualifiedNameResolver\\:\\:getResolvedName\\(\\) has parameter \\$namespaceDefinition with no type specified\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Patch/TolerantQualifiedNameResolver.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Patch\\\\TolerantQualifiedNameResolver\\:\\:getResolvedName\\(\\) has parameter \\$node with no type specified\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Patch/TolerantQualifiedNameResolver.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Patch\\\\TolerantQualifiedNameResolver\\:\\:isConstantName\\(\\) has parameter \\$node with no type specified\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Patch/TolerantQualifiedNameResolver.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Patch\\\\TolerantQualifiedNameResolver\\:\\:tryResolveFromImportTable\\(\\) has parameter \\$node with no type specified\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Patch/TolerantQualifiedNameResolver.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Patch\\\\TolerantQualifiedNameResolver\\:\\:tryResolveFromImportTable\\(\\) should return null but returns Microsoft\\\\PhpParser\\\\ResolvedName\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Patch/TolerantQualifiedNameResolver.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Patch/TolerantQualifiedNameResolver.php

		-
			message: "#^Variable \\$resolvedName on left side of \\?\\? always exists and is always null\\.$#"
			count: 2
			path: src/Bridge/TolerantParser/Patch/TolerantQualifiedNameResolver.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and Microsoft\\\\PhpParser\\\\ResolvedName will always evaluate to false\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Reflection/AbstractReflectionClassMember.php

		-
			message: "#^Property Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Reflection\\\\ReflectionMethodCall\\:\\:\\$node is unused\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Reflection/ReflectionMethodCall.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Reflection\\\\TraitImport\\\\TraitImport\\:\\:__construct\\(\\) has parameter \\$traitAliases with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Reflection/TraitImport/TraitImport.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Reflection\\\\TraitImport\\\\TraitImport\\:\\:getAlias\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Reflection/TraitImport/TraitImport.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Reflection\\\\TraitImport\\\\TraitImport\\:\\:hasAliasFor\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Reflection/TraitImport/TraitImport.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Reflection\\\\TraitImport\\\\TraitImport\\:\\:traitAliases\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Reflection/TraitImport/TraitImport.php

		-
			message: "#^Argument of an invalid type Microsoft\\\\PhpParser\\\\Node\\\\DelimitedList\\\\TraitSelectOrAliasClauseList supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Reflection/TraitImport/TraitImports.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Bridge\\\\TolerantParser\\\\Reflection\\\\TraitImport\\\\TraitImports\\:\\:visiblity\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Bridge/TolerantParser/Reflection/TraitImport/TraitImports.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: src/Core/Cache/TtlCache.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\DefaultValue\\:\\:__construct\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Core/DefaultValue.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\DefaultValue\\:\\:fromValue\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Core/DefaultValue.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\DefaultValue\\:\\:value\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Core/DefaultValue.php

		-
			message: "#^Property Phpactor\\\\WorseReflection\\\\Core\\\\DefaultValue\\:\\:\\$undefined has no type specified\\.$#"
			count: 1
			path: src/Core/DefaultValue.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\DocBlock\\\\DocBlockInspector\\:\\:typesForMethod\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/DocBlock/DocBlockInspector.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Inference\\\\LocalAssignments\\:\\:fromArray\\(\\) has parameter \\$assignments with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/Inference/LocalAssignments.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Inference\\\\MemberTypeResolver\\:\\:memberType\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Core/Inference/MemberTypeResolver.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Inference\\\\PropertyAssignments\\:\\:create\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Core/Inference/PropertyAssignments.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Inference\\\\PropertyAssignments\\:\\:fromArray\\(\\) has parameter \\$assignments with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/Inference/PropertyAssignments.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Name\\:\\:fromParts\\(\\) has parameter \\$parts with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/Name.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Name\\:\\:prepend\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: src/Core/Name.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Name\\:\\:prepend\\(\\) should return static\\(Phpactor\\\\WorseReflection\\\\Core\\\\Name\\) but returns Phpactor\\\\WorseReflection\\\\Core\\\\Name\\.$#"
			count: 1
			path: src/Core/Name.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Name\\:\\:substitute\\(\\) has parameter \\$alias with no type specified\\.$#"
			count: 1
			path: src/Core/Name.php

		-
			message: "#^Class Phpactor\\\\WorseReflection\\\\Core\\\\NameImports implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Core/NameImports.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\NameImports\\:\\:__construct\\(\\) has parameter \\$nameImports with no type specified\\.$#"
			count: 1
			path: src/Core/NameImports.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\NameImports\\:\\:fromNames\\(\\) has parameter \\$nameImports with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/NameImports.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\NameImports\\:\\:getByAlias\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Core/NameImports.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\NameImports\\:\\:getIterator\\(\\) return type with generic class ArrayIterator does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Core/NameImports.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\NameImports\\:\\:hasAlias\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Core/NameImports.php

		-
			message: "#^Property Phpactor\\\\WorseReflection\\\\Core\\\\NameImports\\:\\:\\$nameImports has no type specified\\.$#"
			count: 1
			path: src/Core/NameImports.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\NodeText\\:\\:__construct\\(\\) has parameter \\$nodeText with no type specified\\.$#"
			count: 1
			path: src/Core/NodeText.php

		-
			message: "#^Parameter \\#1 \\$iterator of method AppendIterator\\<mixed,mixed,Iterator\\<TKey, TValue\\>\\>\\:\\:append\\(\\) expects Iterator\\<TKey, TValue\\>, Traversable\\<mixed, Phpactor\\\\WorseReflection\\\\Core\\\\Reflection\\\\ReflectionMember\\> given\\.$#"
			count: 1
			path: src/Core/Reflection/Collection/ChainReflectionMemberCollection.php

		-
			message: "#^Class Phpactor\\\\WorseReflection\\\\Core\\\\Reflection\\\\Collection\\\\ReflectionConstant not found\\.$#"
			count: 1
			path: src/Core/Reflection/Collection/HomogeneousReflectionMemberCollection.php

		-
			message: "#^Parameter \\#1 \\$items of class Phpactor\\\\WorseReflection\\\\Core\\\\Reflection\\\\Collection\\\\ReflectionConstantCollection constructor expects array\\<Phpactor\\\\WorseReflection\\\\Core\\\\Reflection\\\\ReflectionConstant\\>, array\\<Phpactor\\\\WorseReflection\\\\Core\\\\Reflection\\\\Collection\\\\ReflectionConstant&T of Phpactor\\\\WorseReflection\\\\Core\\\\Reflection\\\\ReflectionMember\\> given\\.$#"
			count: 1
			path: src/Core/Reflection/Collection/HomogeneousReflectionMemberCollection.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Reflection\\\\ReflectionSourceCode\\:\\:findClass\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Core/Reflection/ReflectionSourceCode.php

		-
			message: "#^Property Phpactor\\\\WorseReflection\\\\Core\\\\Reflector\\\\ClassReflector\\\\MemonizedReflector\\:\\:\\$innerReflector is never read, only written\\.$#"
			count: 1
			path: src/Core/Reflector/ClassReflector/MemonizedReflector.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Reflector\\\\CompositeReflector\\:\\:reflectMethodCall\\(\\) has parameter \\$offset with no type specified\\.$#"
			count: 1
			path: src/Core/Reflector/CompositeReflector.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Reflector\\\\CompositeReflector\\:\\:reflectNode\\(\\) has parameter \\$offset with no type specified\\.$#"
			count: 1
			path: src/Core/Reflector/CompositeReflector.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Reflector\\\\CompositeReflector\\:\\:reflectOffset\\(\\) has parameter \\$offset with no type specified\\.$#"
			count: 1
			path: src/Core/Reflector/CompositeReflector.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Reflector\\\\CoreReflector\\:\\:reflectNode\\(\\) has parameter \\$offset with no type specified\\.$#"
			count: 1
			path: src/Core/Reflector/CoreReflector.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Reflector\\\\CoreReflector\\:\\:reflectNode\\(\\) has parameter \\$sourceCode with no type specified\\.$#"
			count: 1
			path: src/Core/Reflector/CoreReflector.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Reflector\\\\SourceCode\\\\ContextualSourceCodeReflector\\:\\:reflectMethodCall\\(\\) has parameter \\$offset with no type specified\\.$#"
			count: 1
			path: src/Core/Reflector/SourceCode/ContextualSourceCodeReflector.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Reflector\\\\SourceCode\\\\ContextualSourceCodeReflector\\:\\:reflectNode\\(\\) has parameter \\$offset with no type specified\\.$#"
			count: 1
			path: src/Core/Reflector/SourceCode/ContextualSourceCodeReflector.php

		-
			message: "#^Method Phpactor\\\\WorseReflection\\\\Core\\\\Reflector\\\\SourceCode\\\\ContextualSourceCodeReflector\\:\\:reflectOffset\\(\\) has parameter \\$offset with no type specified\\.$#"
			count: 1
			path: src/Core/Reflector/SourceCode/ContextualSourceCodeReflector.php

		-
			message: "#^Property Phpactor\\\\WorseReflection\\\\Core\\\\Virtual\\\\VirtualReflectionMethod\\:\\:\\$type is unused\\.$#"
			count: 1
			path: src/Core/Virtual/VirtualReflectionMethod.php

		-
			message: "#^Cannot use array destructuring on Phpactor\\\\WorseReflection\\\\Core\\\\SourceCodeLocator\\.$#"
			count: 2
			path: src/ReflectorBuilder.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(Phpactor\\\\WorseReflection\\\\Core\\\\SourceCodeLocator\\)\\: mixed\\)\\|null, Closure\\(array\\)\\: mixed given\\.$#"
			count: 1
			path: src/ReflectorBuilder.php

		-
			message: "#^Property Phpactor\\\\WorseReflection\\\\ReflectorBuilder\\:\\:\\$locators \\(array\\<Phpactor\\\\WorseReflection\\\\Core\\\\SourceCodeLocator\\>\\) does not accept array\\<array\\<int, int\\|Phpactor\\\\WorseReflection\\\\Core\\\\SourceCodeLocator\\>\\|Phpactor\\\\WorseReflection\\\\Core\\\\SourceCodeLocator\\>\\.$#"
			count: 1
			path: src/ReflectorBuilder.php
