includes:
    - phpstan-baseline.neon
parameters:
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true
    checkGenericClassInNonGenericObjectType: false
    paths:
        - lib
